<div class="search__header">
  <%= tabs_tag do |tab| %>
    <div class="search__tab tab">
      <div class="search__tab__item">
        <h4><%= tab.edit_profile 'Explore', explore_search_index_path, class: "tablinks search__tab__title" %></h4>
      </div>
      <div class="search__tab__item">
        <h4><%= tab.edit_project 'Trending', trending_search_index_path, class: "tablinks search__tab__title" %></h4>
      </div>
    </div>
  <% end %>
</div>

<div class="search">
  <%= react_component('search/Search',
                      {
                          authenticityToken: form_authenticity_token,
                          currentUser: current_user,
                          projects: @projects_hash,
                          searchPath: search_index_path,
                          users: @users_hash,
                          projectPath: project_path(:id),
                          userPath: user_path(:id),
                          searchWord: @word,
                          selectType: @type
                      })
  %>

</div>
