<div class="authen">
  <h2>Welcome to</h2>
  <div class="mt-3">
    <%= image_pack_tag 'kollab-blue.png', alt: 'kollab', size:'150x70'%>
  </div>
  <div class="mt-3">
    <h1>Sign In</h1>
    <div class="d-flex flex-column">
      <%= react_component("authen/Login",
    {
      authenticityToken: form_authenticity_token,
      submitPath: user_session_path,
      forgetPasswordUrl: new_user_password_url,
      signUpPath: new_user_registration_path
    })
  %>

    </div>
    <div class="d-flex flex-row align-items-center mt-3" >
      <p class="mr-2">Don't have an account?</p>
      <%= link_to "Sign Up", new_user_registration_path, class:"link" %>
    </div>
  </div>
</div>
