<div class="authen">
  <%= image_pack_tag 'kollab-blue.png', alt: 'kollab', size: '150x70' %>
</div>
<div class="mt-3">
  <h1>Basic Information</h1>
  <div class="d-flex flex-column">
    <%= react_component("authen/UserBasicInfo",
        {
          authenticityToken: form_authenticity_token,
          submitPath: profile_update_path,
          currentUser: @user,
          allExpertises: Expertise.get_expertises,
          skills: Skill.get_skills,
          userExpertises: Expertising.get_user_expertise(@user.id),
          userSkills: UserSkill.get_user_skills(@user.id)
        })
      %>

  </div>
</div>
