<div class="authen">
  <div class="mt-3">
    <%= image_pack_tag 'kollab-blue.png', alt: 'kollab', size: '150x70' %>
  </div>
  <div class="mt-3">
    <h1>Basic Information</h1>
    <div class="d-flex flex-column">
      <%= react_component("authen/UserBasicInfo",
        {
            authenticityToken: form_authenticity_token,
            submitPath: profile_update_path
        })
      %>

    </div>
  </div>
</div>
