<div class="profile">
  <div class="profile__header">
    <h2>Edit profile</h2>
  </div>
  <%= form_with(model: @user, url: profile_update_path, local: true) do |f| %>
    <%= react_component("profile/EditUserProfile",
    {
      authenticityToken: form_authenticity_token,
      submitPath: profile_update_path,
      currentUser: @user
    })
  %>
  <% end %>
</div>
