<div class="profile">
  <header class="profile__header">
    <div class="profile__section">
      <h1><%= "#{@user.first_name} #{@user.last_name}" %> </h1>
      <p>4th year Software Engineering</p>
    </div>

    <div class="profile__section">
      <span class="dot dot--profile"></span>
      <div>
        <span>11</span>
        <p>Projects</p>
      </div>
      <div>
        <span>5</span>
        <p>Following</p>
      </div>
      <div>
        <span>3</span>
        <p>Followers</p>
      </div>
      <div>
        <a>Following</a>
      </div>
    </header>

    <main>
      <div class="profile__section profile__menu">
        <a class="profile__menu__item profile__menu__item--active">
          <div class="dot"></div>
          <div>Overview</div>
        </a>
        <a class="profile__menu__item">
          <div class="dot"></div>
          Projects
        </a>
      </div>
      <div class="profile__section">
        <h2>About</h2>
        <p>I am 4th year student from King Mongkut’s Institute of
          Technology Ladkrabang and currently studying in Software
          Engineering field. I am interested Web Development and Docker.</p>
      </div>

      <div class="profile__section">
        <h2>Skills</h2>

      </div>

      <div class="profile__section">
        <h2>Interests</h2>

      </div>

      <div class="profile__section">
        <h2>Contact</h2>
      </div>
    </main>
  </div>
