// TODO: [Anyone] To be adjusted when Anya specify the true colors
$kollab-pink: #ee90fa;
$kollab-turquoise: #54bdc2;
$kollab-turquoise-light: #5ddab7;
$kollab-gray: #939393;
$kollab-gray-light: #d4d4d4;
$kollab-gray-dark: #707070;
$kollab-orange: #ff9c46;
$kollab-orange-translucent: rgba(255, 156, 70, 0.12);
$kollab-blue: #6280ff;
$kollab-yellow: #ffe667;
$kollab-dark: #484848;

/* Default colors */
$alabaster: #fcfcfc;
$aliceblue: #8fffe7;
$alto: #cecece;
$aqua-haze: #f4f7f9;
$aquamarine: #7db9bb;
$athens-gray: #e6e9ed;
$athens-gray-light: #f2f5f7;
$azure: #f3ffff;
$baby-blue: #e1ffff;
$black: #000;
$bluewood: #283f51;
$border-gray: #ebebeb;
$bronze: #b58e65;
$cadetblue: #46aba5;
$chambray: #365899;
$cod-gray: #1a1a1a;
$darkergray: #2f2f2f;
$darkgray: #a9a9a9;
$darkslategrey: #2f4f4f;
$dull-lavender: #9fa7e5;
$emperor: #545454;
$facebook: #3a589e;
$froly: #f28080;
$ghostwhite: #f9f9fb;
$gianboro-dark: #dbe9e9;
$gold: #e7c55c;
$gray-dark: #5c646e;
$gray-darker: #4f4f4f;
$gray-light-alt: #bbb;
$gray-light: #9b9b9b;
$gray-lighter-alt: #eaeaea;
$gray-lighter: #f4f4f4;
$gray-text: #9e9e9e;
$gray: #808080;
$iron: #dddfe2;
$lightgray: #cddada;
$lightgreen: #5cb85c;
$mauvelous: #fb9ca8;
$mercury: #e4e4e4;
$mine-shaft: #222;
$mintcream: #f5fafa;
$mountain-meadow-dark: #1abb9c;
$mountain-meadow: #16d488;
$nobel: #bab8b8;
$old-gold: #d19b3d;
$pink-light-alt: #f7e0e6;
$pink-light: #ffe0e0;
$purple: #5f6edc;
$red-danger: #d9534f;
$red: #f00;
$river-bed: #4f5b69;
$roman: #dc5f6e;
$sea-pink: #eea0a9;
$shark: #23282e;
$silver: #ccc;
$slate-gray: #768399;
$snow: #fafafa;
$tomato: #ff6959;
$tundora: #464546;
$turquoise-dark: #46d7ce;
$turquoise-light: #40bfb7;
$twitter: #4ab3f4;
$white: #fff;
$whitesmoke: #dedede;
$wild-sand: #f6f6f6;
$wild-watermelon: #ff4684;
$yellow-light: #ffc107;
$yellow: #e4bf4f;
