form {
  .form-control:focus {
    box-shadow: 0 0 3px $kollab-turquoise;
  }
  .error-message {
    width: 100%;

    color: red;
  }

  .input-error {
    border-color: red;

    &:focus {
      border: 1px solid red;
      outline: none !important;
      box-shadow: 0 0 3px #ce7171;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.justify-cen {
  justify-content: center;
}

.align-cen {
  align-items: center;
}

.mar-tb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mar-lr {
  margin-right: 5px;
  margin-left: 5px;
}

.mar-top {
  &--l {
    margin-top: 20px;
  }

  &--s {
    margin-top: 10px;
  }

  &--ss {
    margin-top: 5px;
  }
}

.space-bet {
  justify-content: space-between;
}
