.header {
  margin: 0 0 $spacer 0;
  padding-top: $spacer-l;
  padding-bottom: $spacer-s;

  text-align: center;

  background-color: white;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: $spacer-s;

  &__count {
    font-size: x-large;
    font-weight: bold;

    margin-right: 5px;
  }
}
