.nav {
  font-family: 'Muli';
  font-weight: bold;

  position: sticky;
  z-index: 10;

  width: 100%;
  height: $nav-height;
  padding: 0 $spacer-l;

  background-color: white;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);

  @media only screen and (min-width: $kollab-width-tablet) {
    font-size: 16px;

    height: $nav-height-desktop;
  }

  &__brand {
    margin-right: $spacer-l;

    &__logo {
      min-width: 70px;
      height: 30px;
      max-height: 30px;

      @media only screen and (min-width: $kollab-width-tablet) {
        min-width: 89px;
        height: 38px;
        max-height: 38px;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;

    height: 100%;

    &--right {
      margin-left: auto;
    }

    &--desktop {
      display: none;
    }
  }

  &__item {
    font-weight: bold;

    display: flex;
    align-items: center;

    margin: 0 $spacer-xs;

    @media only screen and (min-width: $kollab-width-tablet) {
      color: black;
    }

    &--icon {
      font-size: 1.5rem;

      margin-right: $spacer-s;

      color: $kollab-primary;
      @media only screen and (min-width: $kollab-width-tablet) {
        font-size: 1rem;

        color: black;
      }
    }

    &--button {
      height: $nav-height;
      padding-right: $spacer;
      padding-left: $spacer;

      white-space: nowrap;

      i {
        color: black;
        margin-right: $spacer-s;
      }

      &:hover {
        i {
          color: $kollab-primary;
        }
      }


      &--active {
        color: $kollab-primary;
        border-radius: 5px;
        background-color: rgba(84, 189, 194, 0.12);

        i {
          color: $kollab-primary !important;
        }
      }
    }

    &--mobile {
      @media only screen and (min-width: $kollab-width-tablet) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @media only screen and (min-width: $kollab-width-tablet) {
        display: flex;
      }
    }
  }

  &__profile {
    &::after {
      font-family: 'Font Awesome 5 Free';
      font-size: 1rem;
      font-weight: 900;

      display: inline-block;

      content: '\f078';

      color: $kollab-gray;
    }

    &:hover {
      &::after {
        color: $kollab-primary !important;
      }
    }
  }

  &__profile-img {
    margin-right: $spacer-s;
  }

  &__profile-name {
    margin-right: $spacer-s;

    text-align: left;
  }

  &__dropdown {
    position: relative;

    height: 100%;
    margin: 0 $spacer-xs;

    &__drop-button {
      min-width: 30px;
      height: 100%;

      background-color: transparent;

      &:focus {
        outline: none;
      }

      i {
        font-size: 1.5rem;

        color: $kollab-primary;
      }
    }

    &__drop-item {
      color: $kollab-gray;

      &:hover {
        background-color: rgba(84, 189, 194, 0.12);
      }

      i {
        margin-right: $spacer-s;
      }
    }
  }
}
.fas[data-count]{
  position:relative;
}
.fas[data-count]:after{
  position: absolute;
  right: -0.75em;
  top: -.75em;
  content: attr(data-count);
  padding: .5em;
  border-radius: 10em;
  line-height: .9em;
  color: white;
  background: rgba(255,0,0,.75);
  text-align: center;
  min-width: 2em;
  font: bold .4em sans-serif;
}
