.sidenav {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: $sidenav-width;
  height: 100%;

  background-color: white;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
     -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);

  &__brand {
    height: 36px;
  }
}

@media only screen and (max-width: $kollab-width-tablet) {
  .sidenav {
    top: unset;
    bottom: 0;

    flex-direction: row;

    width: 100vh;
    height: $sidenav-height;

    &__brand {
      display: none;
    }
  }
}
