.nav {
  position: sticky;
  z-index: 10;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  height: $nav-height;
  padding: 0 $spacer-l;

  background-color: white;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
     -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);

  &__brand {
    margin-right: $spacer-l;
    &__logo {
      height: 30;
      max-height: 30px;

      @media only screen and (min-width: $kollab-width-tablet) {
        height: 36px;
        max-height: 36px;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;

    height: 100%;
    &--right {
      margin-left: auto;
    }

    &--desktop {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    height: 100%;
    margin: 0 $spacer-xs;

    &--hover {
      &:hover {
        border-bottom: solid 3px $kollab-primary;
      }
    }
  }

  &__dropdown {
    position: relative;

    height: 100%;

    &__drop-button {
      font-size: x-large;

      width: 1.5rem;
      height: 100%;

      color: $kollab-primary;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    &__drop-item {
      font-family: 'Muli';

      color: $kollab-gray;
      &:hover {
        background-color: rgba(84, 189, 194, 0.12);
      }
      i {
        margin-right: $spacer-s;
      }
    }
  }
}
