<h1>Hello World</h1>
<p class="text__one--red">This will be red</p>
<button type=" button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>

<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
