<%= render "navbar" %>
<div class="container-fluid">
  <h1>Home Page</h1>
  <h2>Home Page</h2>
  <h3>Home Page</h3>
  <h4>Home Page</h4>
  <h5>Home Page</h5>
  <h6>Home Page</h6>
  <p>
    Then I like to set up the default font sizes. Using Richard Rutter's method we know the default size is 16pt so we
    can create accurate sizings.
  </p>

</div>
