<div class="project project--with-margin">
  <header>
    <h1>Setting (Projects) </h1>
  </header>

  <%= tabs_tag do |tab| %>
    <%= tab.home      'Homepage', root_path, :style => "padding: 10px" %>
    <%= tab.dashboard 'Edit Project', edit_projects_settings_project_path %>
  <% end %>
</div>
