<div class="setting__header">
  <h2>Settings</h2>
  <%= tabs_tag do |tab| %>
    <div class="setting__tab tab">
      <div class="setting__tab__item">
        <h4><%= tab.edit_profile 'Edit project', edit_projects_settings_project_path, class: "tablinks setting__tab__title" %></h4>
        <div class="setting__tab__selected"></div>
      </div>
    </div>
  <% end %>
</div>

<div class="setting">
  <%= react_component("projects/EditProject",
    {
      authenticityToken: form_authenticity_token,
      submitPath: project_update_path,
      currentUser: current_user,
      currentProject: @project,
      expertiseIds: @project.expertise_ids,
      expertises: Expertise.all,
      tagIds: Tagging.where(project_id: @project.id),
      tags: Tag.all
    })
  %>
</div>
