<div class="project project--with-margin">

  <% tabs_tag do |tab| %>
    <% tab.dashboard 'Edit Project', edit_projects_settings_project_path %>
  <% end %>

  <header>
    <h1>Edit Project</h1>
  </header>

  <%= react_component("projects/EditProject",
    {
      authenticityToken: form_authenticity_token,
      submitPath: projects_path,
      currentUser: current_user,
      currentProject: @project,
      expertiseIds: @project.expertise_ids,
      expertises: Expertise.all,
      tagIds: Tagging.where(project_id: @project.id),
      tags: Tag.all
    })
  %>
