<ul>
  <% @projects.each do |project| %>
    <%= link_to project do %>
      <li>
        <h3>
          <%= project.title %>
        </h3>
        <p> <%= project.short_desc %></p>
        <% project.tag_list.each do |tag|%>
          <button class="button button--md button--tag">
            <%= "##{tag}" %>
          </button>
        <% end %>
      </li>
      <br>
    <% end %>
  <% end %>

</ul>
