<div class="project project--with-margin">
  <header>
    <h1>Create New Project</h1>
  </header>

  <%= react_component("users/projects/ProjectCreateForm",
    {
      authenticityToken: form_authenticity_token,
      submitPath: projects_path
    })
  %>
