.authen {
  display: flex;
  flex: 1;
  flex-direction: column;

  a:link,
  a:visited {
    font-size: 1em;
    font-weight: bold;

    text-decoration: underline;

    color: $kollab-turquoise;
  }
}

@media screen and (max-width: 629px) {
  .authen {
    margin: 40px;
  }
}

/* For Tablets */
@media screen and (min-width: 630px) {
  .authen {
    width: 600px;
    margin: 100px auto 500px;
  }

  .MuiToggleButton-root.Mui-selected {
    background-color: #113;
  }
}
