.authen {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin: 40px;

  a:link,
  a:visited {
    font-size: 1em;
    font-weight: bold;

    text-decoration: underline;

    color: $kollab-primary;
  }

  .button--lg {
    width: 100%;
  }
}

/* For Tablets */
@media screen and (min-width: $kollab-width-tablet) {
  .authen {
    width: 600px;
    margin: 100px auto 500px;
  }
}
