.project {
  padding: 1.5 * $spacer $spacer;
  &__form {
    .form__date {
      &:first-child {
        margin-right: $global-space;
      }
    }
  }
  &--with-margin {
    margin-bottom: 3 * $global-space;
  }

  &__view {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1rem;

      padding-bottom: 0.5rem;

      text-transform: uppercase;

      color: $kollab-dark;
    }

    .section {
      width: 100%;
      margin-bottom: 0.5 * $global-space;

      &__header {
        display: flex;

        color: black;
      }

      &__actions {
        display: flex;

        margin-bottom: 0.25 * $global-space;

        button {
          font-weight: 700;

          margin-right: 0.25 * $global-space;

          span {
            margin-right: 3px;
          }
        }
      }

      &__tags {
        div {
          display: flex;
          flex-wrap: wrap;

          button {
            margin-right: 0.25 * $global-space;
            margin-bottom: 0.25 * $global-space;
          }
        }
      }

      &__dates {
        display: flex;
        div {
          flex-grow: 1;
        }
      }

      &__follower {
        margin-left: auto;

        text-align: center;
        span {
          font-size: 1.25rem;
        }
      }

      &__members {
        .member {
          display: flex;
          align-items: center;

          &__details {
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;

            margin-left: 0.25 * $global-space;

            letter-spacing: normal;
          }
          &__name {
            color: black;
          }

          &__role {
            color: $kollab-gray-light;
          }
        }
      }
    }
  }

  &__index {
    &__menu {
      margin-top: $spacer;

      .list__item {
        align-items: center;
      }

      a:after {
        font-size: x-large;
        font-weight: bold;

        margin-left: auto;

        content: '>';
      }
    }

    &__sub-header {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 0.5 * $spacer;

      &__count {
        font-size: x-large;
        font-weight: bold;

        margin-right: 5px;
      }
    }

    &__header {
      margin: -1.5 * $spacer -1 * $spacer;
      margin-bottom: $spacer;
      padding-top: 1.5 * $spacer;
      padding-bottom: 0.5 * $spacer;

      text-align: center;

      background-color: white;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
    }
  }

  &__list {
    margin-bottom: $spacer;
  }

  &__item {
    a {
      display: block;

      width: 100%;
    }

    &__title {
      letter-spacing: normal;
    }

    &__info {
      max-width: 60%;
    }

    &__actions {
      justify-content: start;

      height: 100%;
      margin-left: auto;
    }
  }
}
