@media screen and (max-width: $kollab-width-tablet) {
  .profile {
    display: flex;
    flex-direction: column;

    margin: 30px;
  }
}

@media screen and (min-width: $kollab-width-tablet) {
  .profile {
    display: flex;
    flex-direction: column;

    width: 700px;
    margin: 50px auto auto auto;
  }

  &__list {
    padding: 0 $spacer;
  }

  &__item {
    align-items: center;
    &__col {
      &--image {
        margin-right: 0.5 * $spacer;
      }

      &--actions {
        margin-left: auto;
      }
    }
  }
}

.dot {
  display: inline-block;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  background-color: #bbb;

  &--profile {
    width: 50px;
    height: 50px;
  }
}

div.scrollmenu {
  overflow: auto;

  white-space: nowrap;
}
