@media screen and (max-width: $kollab-width-tablet) {
  .profile {
    display: flex;
    flex-direction: column;

    margin: 30px;
    &__header {
      display: flex;
      flex-direction: row;
    }
  }
}

@media screen and (min-width: $kollab-width-tablet) {
  .profile {
    display: flex;
    flex-direction: column;

    width: 700px;
    margin: 50px auto auto auto;
  }

  &__list {
    padding: 0 $spacer;
  }

  &__item {
    align-items: center;
    &__col {
      &--image {
        margin-right: $spacer-s;
      }

      &--actions {
        margin-left: auto;
      }
    }
  }

  &__header {
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-right: 0.75rem;
      margin-left: 0.75rem;
    }

    &__detail {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        flex-grow: 1;

        margin-right: 10px;
      }

      p {
        font-size: 12px;

        margin-right: 0.5rem;
        margin-left: 0.5rem;

        color: #212529;
      }
    }
  }
}

.dot {
  display: inline-block;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  background-color: #bbb;

  &--profile {
    width: 50px;
    height: 50px;
  }
}

div.scrollmenu {
  overflow: auto;

  white-space: nowrap;
}
