.profile {
  display: flex;
  flex-direction: column;

  margin: 30px;
  padding-right: $spacer;
  padding-left: $spacer;

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__list {
    padding: 0 $spacer;
  }

  &__item {
    align-items: center;
    &__col {
      &--image {
        margin-right: $spacer-s;
      }

      &--actions {
        margin-left: auto;
      }
    }
  }

  &__fullwidth {
    width: 100%;
  }
}

@media screen and (min-width: $kollab-width-tablet) {
  .profile {
    margin: 50px auto auto auto;
  }
}

div.scrollmenu {
  overflow: auto;

  white-space: nowrap;
}
