.search {
  padding: $spacer-m $spacer;

  a {
    cursor: pointer !important;
  }

  &__header {
    padding-top: $spacer-m;
    padding-left: $spacer-m;

    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
  }

  &__tab {
    display: flex;
    flex-direction: row;

    padding-top: $spacer-s;

    &__item {
      margin-right: $spacer-m;
    }

    &__title {
      margin-bottom: $spacer-s;
    }

    &__selected {
      height: 4px;

      border-radius: 2px;
      background-color: $kollab-primary;
    }

    &__bar {
      width: 100%;
      margin-bottom: $spacer-m;

      background-color: #f4f4f4;
    }
  }

  &__tags {
    display: flex;
    flex-direction: row;
  }

  &__section {
    margin-top: $spacer-xs;
    margin-bottom: $spacer-xs;

  }

  &__project {
    &__row {
      display: flex;
      align-items: center;
      flex-direction: row;

      margin-top: $spacer-s;
    }

    &__wrap {
      flex-wrap: wrap;

      max-height: 65;
    }

    &__card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;
      min-height: 160px;
      margin-top: $spacer-s;
      padding: $spacer-m;

      background-color: white;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
    }

    &__actions {
      display: flex;

      .action--star {
        display: flex;
        i {
          margin-right: $spacer-s;
        }
      }
    }

    &__status {
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 79px;
      height: 24px;
      margin-right: $spacer-s;

      border-radius: 5px;

      &__completed {
        color: #35b645;
        background-color: #e4f7e7;
      }

      &__inprogress {
        color: $kollab-orange;
        background-color: #fcf0e6;
      }

      &__cancelled {
        color: red;
        background-color: #fbdacf;
      }

      &__onhold {
        color: #2e90ae;
        background-color: #d9f0f7;
      }

      &__initiating {
        color: #db9e00;
        background-color: #fcfae7;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__button {
    &__type {
      &__selected {
        color: white;
        background-color: $kollab-gray;
      }

      &__deselected {
        color: $kollab-gray;
        background-color: white;
      }
    }
  }

  &__user {
    &__header {
      display: flex;
      flex-direction: row;
    }

    &__proimg {
      align-self: center;

      width: $spacer-m * 2.5;
      height: $spacer-m * 2.5;
      margin-right: $spacer-m;

      border-radius: $spacer-m * 2.5;
    }

    &__card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;
      min-height: 97px;
      margin-top: $spacer-s;
      padding: $spacer-m;

      background-color: white;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
    }

    &__button {
      font-size: 12px;

      min-width: 80px;
      height: 1.5rem;
      max-height: 1.5rem;
      padding: 0 $spacer-s;

      &__follow {
        color: $kollab-primary;

        &:hover {
          background-color: $kollab-gray-light !important;
        }
      }

      &__unfollow {
        color: white;
        background-color: $kollab-primary;

        &:hover {
          background-color: $kollab-primary-dark !important;
        }
      }
    }
  }
}
