.setting {
  padding: $spacer-m $spacer;

  p {
    font-size: 14px;
  }

  &__header {
    padding-top: $spacer-m;
    padding-left: $spacer-m;

    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
  }

  &__tab {
    display: flex;
    flex-direction: row;

    padding-top: $spacer-s;

    &__item {
      margin-right: $spacer-m;
    }

    &__title {
      margin-bottom: $spacer-xs;
    }

    &__selected {
      height: 4px;

      border-radius: 2px;
      background-color: $kollab-primary;
    }
  }

  &__project {
    &__title {
      margin-bottom: $spacer-m;
    }

    &__section {
      padding-top: $spacer-s;
      padding-bottom: $spacer-s;
    }

    &__item {
      display: flex;
      justify-content: space-between;

      min-height: 48px;
      padding: 16px 10px;

      border-width: 5px;
      border-color: $kollab-primary;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
    }

    &__button {
      &__delete {
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 66px;
        height: 24px;

        color: red;
        border-radius: 5px;
        background-color: $kollab-gray-bg;
      }
    }
  }

  &__member {
    &__title {
      margin-bottom: $spacer-m;
    }

    &__section {
      padding-top: $spacer-s;
      padding-bottom: $spacer-s;
    }

    &__role__status {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 67px;
      height: 24px;

      text-transform: uppercase;

      &__open {
        color: $kollab-primary;
        border-radius: 5px;
        background-color: #e8f4f5;
      }

      &__close {
        color: #bcbcbc;
        border-radius: 5px;
        background-color: $kollab-gray-bg;
      }
    }
  }

  &__role {
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-bottom: $spacer-s;
    }

    &__proimg {
      align-self: center;

      width: $spacer-m * 6;
      height: $spacer-m * 6;

      border-radius: $spacer-m * 6;
    }

    &__section {
      display: flex;
      flex-direction: column;

      padding-top: $spacer-s;
      padding-bottom: $spacer-s;

      &__item {
        flex-direction: row;
      }

      &__button {
        flex-direction: row;
        justify-content: space-between;
      }

      p {
        margin-left: $spacer-s;
      }
    }

    &__contact {
      display: flex;
      flex-direction: row;
    }

    &__button {
      font-size: 14px;

      width: 50%;
    }
  }
}
