<div class="setting__header">
  <h2>Settings</h2>
  <%= tabs_tag do |tab| %>
    <div class="setting__tab tab">
      <div class="setting__tab__item">
        <h4><%= tab.edit_profile 'Edit project', edit_projects_settings_project_path, class: "tablinks setting__tab__title" %></h4>
      </div>
      <div class="setting__tab__item">
        <h4><%= tab.edit_project 'Member management', projects_settings_projects_member_path, class: "tablinks setting__tab__title" %></h4>
        <div class="setting__tab__selected"></div>
      </div>
    </div>
  <% end %>
</div>
<div class="setting">

  <%= react_component("members/MemberMamangement",
    {
      authenticityToken: form_authenticity_token,
      submitPath: projects_path,
      currentUser: current_user,
      members: @project_members,
      expertises: Expertise.all
    })
  %>

</div>
