<div class="project">
  <header>
    <h1>Create New Project</h1>
  </header>

  <!-- TODO: [Eit] Add path props -->
  <%= react_component("ProjectCreateForm",
    {
      authenticityToken: form_authenticity_token,
      project: @project,
    })
  %>
