$kollab-width-mobile: 576px;
$kollab-width-tablet: 768px;
$kollab-width-desktop: 1024px;
$kollab-width-desktop-extra: 1200px;

$global-space: 30px;
$spacer-1: 0.25 * $spacer;
$spacer-2: 0.5 * $spacer;
$spacer-3: $spacer;
$spacer-4: 1.5 * $spacer;
$spacer-5: 2 * $spacer;

$sidenav-width: 100px;
$sidenav-height: 48px;

html {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  border: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;

  margin-left: $sidenav-width;

  background-color: #fcfcfc;
}

@media only screen and (max-width: $kollab-width-tablet) {
  body {
    font-size: 12px;

    margin-left: 0;
  }
}

a {
  text-decoration: none;

  color: currentColor;

  &:hover {
    text-decoration: none;
  }
}

img,
embed,
object,
video {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
