.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: $global-space * 0.3;

  cursor: pointer;
  letter-spacing: 1px;

  color: $black !important;
  border-radius: 4px;

  &--small {
    padding: 0 $global-space * 0.3;
  }

  &--gray {
    color: $kollab-gray !important;
    border-color: $kollab-gray;
  }

  &--gradient-green {
    background: rgb(84, 189, 194);
    background: linear-gradient(
    90deg,
    rgba(84, 189, 194, 1) 0%,
    rgba(94, 219, 184, 1) 99%
    );
  }

  &--long {
    width: 300px;
    height: 40px;

    border-radius: 20px;
  }

  &--fixed-bottom {
    position: absolute;
    bottom: 20px;
  }
}
