.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0 $spacer-xs;

  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 1px;

  border-radius: 5px;

  &--very-small {
    height: 1.5rem;
    max-height: 1.5rem;
  }

  &--small {
    height: 2rem;
    max-height: 2rem;
    padding: $spacer-xs;
  }

  &--long {
    width: 300px;
    height: 40px;

    border-radius: 20px;
  }

  &--gray {
    color: $kollab-gray !important;
    border-color: $kollab-gray;
  }

  &--green {
    color: white;
    background-color: $kollab-turquoise !important;
  }

  &--outline-gray-light {
    color: $kollab-gray-light;
    border: solid 2px $kollab-gray-light;
    background-color: transparent;
  }

  &--gradient-green {
    color: white;
    background: rgb(84, 189, 194);
    background: linear-gradient(
    90deg,
    rgba(84, 189, 194, 1) 0%,
    rgba(94, 219, 184, 1) 99%
    );
  }

  &--fixed-bottom {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 20px;
    left: 0;

    margin-right: auto;
    margin-left: auto;
  }

  &--status {
    font-style: normal;
    font-stretch: normal;

    height: 2rem;
    padding-right: 20px;
    padding-left: 20px;

    letter-spacing: normal;
    text-transform: uppercase;

    &--orange {
      color: $kollab-orange;
      background-color: $kollab-orange-translucent;
    }
  }

  &--tag {
    color: $kollab-gray-dark;
    border: solid 1px $kollab-gray;
    background-color: transparent;
  }

  &--round {
    height: 40px;

    border-radius: 20px;
  }
}
