.text {
  &__one {
    font-size: larger;

    &--red {
      color: rgb(255, 0, 0);
    }
    &--kollab-pink {
      color: $kollab-pink;
    }
  }
}

.block {
  width: 200px;
  height: 200px;

  opacity: 0.5;
  border: thick;
  background-image: url('~images/kollab.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
