.text {
  &__one {
    font-size: larger;

    &--red {
      color: red;
    }
  }
}

.block {
  height: 200px;
  width: 200px;
  background-image: url("~images/kollab.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  border: thick;
}
