.icon {
  line-height: 1;

  display: inline-block;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &--star {
    width: 13px;
    height: 13px;

    background-image: url('~images/star.svg');
  }

  &--round {
    width: 20px;
    height: 20px;
  }
}

.fa-times {
  font-size: 20px;

  width: 20px;
  height: 20px;

  color: $kollab-gray;
}

.fa-plus {
  &__project {
    font-size: 20px;

    position: absolute;
    right: 0;

    padding-right: 10px;

    color: white;
  }
}

.fa-envelope {
  &__member {
    font-size: 20px;

    width: 20px;
    height: 20px;

    color: $kollab-primary;
  }
}

.fa-search {
  font-size: 20px;

  width: 20px;
  height: 20px;

  color: $kollab-primary;

  &__textfield {
    color: $kollab-gray;
  }

  &--navbar {
    color: black;
  }
}

.fa-star {
  font-size: 20px;

  width: 20px;
  height: 20px;

  color: $kollab-yellow;
}

.fa-clock {
  font-size: 20px;

  width: 20px;
  height: 20px;

  color: $kollab-gray;
}

.fa-user-friends {
  font-size: 17px;

  width: 20px;
  height: 20px;

  color: $kollab-gray;
}

.fa-bell {
  &__member {
    font-size: 20px;

    width: 20px;
    height: 20px;

    color: $kollab-primary;
  }
}
