.list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;

    margin: $spacer-xs 0;
    padding: $spacer $spacer-s;

    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);

    &__col {
      display: flex;
      flex-direction: column;
    }

    &__row {
      display: flex;
      flex-direction: row;
    }

    &__project {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;
    }
  }
}
