<div class="setting">
  <h2>Add Role</h2>
  <%= react_component("roles/AddRole",
    {
      authenticityToken: form_authenticity_token,
      submitPath: projects_settings_roles_path,
      currentUser: current_user,
      memberRole: @roles,
      project: @project
    })
 %>
</div>
